<main>
  <section>
    <div class="cards">
      <h1 class="cards__header">Список товарів</h1>
      <!-- Підключення компоненту product-card -->
      {{> product-card data=data.products}}
    </div>
  </section>
</main>